body{
    margin: 0;
    padding: 0;
    font-family: "Inclusive Sans", sans-serif;
    overflow: hidden;
    background-color: #2A2017;
}
header{
    top: 0%;
    left: 0%;
    position: fixed;
    display: flex;
    height: 110vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 0;    
    overflow: hidden;
}

header div{
    z-index: 0;
    height: 100%;
    transform: translateY(-10%);
    width: 110vw;
    filter: blur(4px);
    background-image: url("/src/headerimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
    background-clip: border-box;
}

form{
    position: absolute;
    z-index: 2;
    height: 76vh;
    width: 60vw;
    background-color: hsl(0, 0%, 96%);
    font-family: Arial, sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-52%,-50%);
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}

.div1 {
    grid-column: span 2 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div1 h4, .div1 h2{
    width: fit-content;
    margin: 10px 10px 10px 10px;
}
.div2{
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-row-start: 2;
    
}
.div6 {
    grid-column: span 2 / span 2;
    grid-row-start: 5;
    width: 100%;
    display: flex;
    justify-content: center;
}
input:focus{
  box-shadow: 0 0 0 4px rgba(192,57,43,0.12); /* tono ligero del botón rojo */
  border-color: rgba(192,57,43,0.9);
}
.btn {
  background: #c0392b;
  color: white;
  height: fit-content;
  width: 90%;
  padding: 12px 25px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

#back{
    height: 20px;
    width: auto;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 5;
    transition: 300ms;
    cursor: pointer;

}
#back:hover{
      filter: invert(19%) sepia(89%) saturate(6747%) hue-rotate(345deg) brightness(92%) contrast(92%);

}
#map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    overflow: auto;
    border: 2px solid black;
    position: relative;
    cursor:pointer;
    background: #fff;
    box-sizing: border-box;
}

#map:active{
cursor: grabbing;
}
svg .mesa{
    fill: #cccccc; /* color base */
    stroke: #333;  /* borde opcional */
    stroke-width: 2;
    transition: fill 0.3s, transform 0.3s;
    cursor: pointer;
  pointer-events: visibleFill;
}
svg .mesa:hover{
    fill: #c0392b !important;
    transform: scale(1.01); /* ligero zoom */
}
.mesa.active {
  fill: #c0392b !important;
  transform: scale(1.01);
}